In [26]:
#the below blob comes from an API call but I don't want to time out my API requests, so I've extracted part of it
# and created a dict variable 'blob'. I'm trying to get my function to return a list of unique id's from the blob
#below, but I can't access the dict within the list, within the dict. See lines 31, 32 for my progress so far. 
import pandas as pd
blob = [{'users': [{'id': 1292055415136583681,
   'id_str': '1292055415136583681',
   'name': 'Mayola Tyler',
   'screen_name': 'tyler_mayola',
   'location': '',
   'description': 'Total explorer. Hipster-friendly entrepreneur. Amateur analyst. Troublemaker. Internet ninja.',
   'url': None,
   'entities': {'description': {'urls': []}},
   'protected': False},
    
    {'id': 1292055415136583685,
   'id_str': '1292055415136583681',
   'name': 'Mayola Tyler',
   'screen_name': 'tyler_mayola',
   'location': '',
   'description': 'Total explorer. Hipster-friendly entrepreneur. Amateur analyst. Troublemaker. Internet ninja.',
   'url': None,
   'entities': {'description': {'urls': []}},
   'protected': False}]
       }]
          
def friends_of_friends(name1, name2, keys=None, to_df=False):
    
    names = [name1, name2]
    name_list = [name.replace('@','') for name in names]

    followers = [i['users'] for i in blob]
#     return followers

    flat_list = []
    for sublist in followers:
        results = [sublist['id'] for sublist in sublist]
        return results

friends_of_friends('Beyonce', 'MariahCarey')

[{'id': 1292055415136583681,
  'id_str': '1292055415136583681',
  'name': 'Mayola Tyler',
  'screen_name': 'tyler_mayola',
  'location': '',
  'description': 'Total explorer. Hipster-friendly entrepreneur. Amateur analyst. Troublemaker. Internet ninja.',
  'url': None,
  'entities': {'description': {'urls': []}},
  'protected': False},
 {'id': 1292055415136583685,
  'id_str': '1292055415136583681',
  'name': 'Mayola Tyler',
  'screen_name': 'tyler_mayola',
  'location': '',
  'description': 'Total explorer. Hipster-friendly entrepreneur. Amateur analyst. Troublemaker. Internet ninja.',
  'url': None,
  'entities': {'description': {'urls': []}},
  'protected': False}]

In [54]:
#the below blob comes from an API call but I don't want to time out my API requests, so I've extracted part of it
# and created a dict variable 'blob'. I'm trying to get my function to return a list of unique id's from the blob
#below, but I can't access the dict within the list, within the dict. See lines 31, 32 for my progress so far. 
import pandas as pd
blob = [{'users': [{'id': 1292055415136583681,
   'id_str': '1292055415136583681',
   'name': 'Mayola Tyler',
   'screen_name': 'tyler_mayola',
   'location': '',
   'description': 'Total explorer. Hipster-friendly entrepreneur. Amateur analyst. Troublemaker. Internet ninja.',
   'url': None,
   'entities': {'description': {'urls': []}},
   'protected': False},
    
    {'id': 1292055415136583685,
   'id_str': '1292055415136583681',
   'name': 'Neville Tyler',
   'screen_name': 'tyler_mayola',
   'location': '',
   'description': 'Total explorer. Hipster-friendly entrepreneur. Amateur analyst. Troublemaker. Internet ninja.',
   'url': None,
   'entities': {'description': {'urls': []}},
   'protected': False}]
       }]
          
def friends_of_friends(name1, name2, keys=None, to_df=False):
    
    names = [name1, name2]
    name_list = [name.replace('@','') for name in names]

    followers = [i['users'] for i in blob]

    flat_list = []
    for sublist in followers:
        results = [sublist for sublist in sublist]
        
        if keys != None:
            
            reduced_list = []
            for user in results:
                user_dict = {}
                for key in keys:
                    user_dict[key] = user[key]
                    reduced_list.append(user_dict)
                    
                    if to_df !=False:
                        return pd.DataFrame(reduced_list)
                    
                    else:
                        return reduced_list
        
        elif to_df !=False:
            return pd.DataFrame(results)
        
        else:
            return results


# friends_of_friends('Beyonce', 'MariahCarey')
friends_of_friends('Beyonce', 'MariahCarey', keys=['name'], to_df=True)
# friends_of_friends('Beyonce', 'MariahCarey', to_df=True)

,id,id_str,name,screen_name,location,description,url,entities,protected
0,1292055415136583681,1292055415136583681,Mayola Tyler,tyler_mayola,,Total explorer. Hipster-friendly entrepreneur....,None,{'description': {'urls': []}},False
1,1292055415136583685,1292055415136583681,Neville Tyler,tyler_mayola,,Total explorer. Hipster-friendly entrepreneur....,None,{'description': {'urls': []}},False