### Web Scraping Lab

Welcome!  In today's lab we're going to build a web scraper that's going to build a dataset from restaurant listings on a yelp page.  

You can find the web page here: https://www.yelp.com/search?find_desc=Restaurants&find_loc=London%2C%20United%20Kingdom&ns=1

The lab questions listed herein will naturally build from the material discussed in class.

#### Step 1:  Scrape the number of reviews for each restaurant

Using a similar methodology we used to find the title of the restaurant find the number of reviews for the 30 restaurants listed on this web page.

**Hint:** the `isdigit()` string method will be helpful to detect if a string contains a number.

In [2]:
# your code here
from bs4 import BeautifulSoup
import requests
url = 'https://www.yelp.com/search?find_desc=Restaurants&find_loc=London%2C%20United%20Kingdom&ns=1'
req = requests.get(url)

In [3]:
yelp_scraper = BeautifulSoup(req.text)

In [8]:
titles = yelp_scraper.find_all('a', {'class': 'lemon--a__373c0__IEZFH', 'class': 'link__373c0__1G70M',
                                'class': 'link-color--inherit__373c0__3dzpk',
                                'class':  'link-size--inherit__373c0__1VFlE'})

In [18]:
#html data is not string, type is tag so we need to convert it before using string functions
titles = [str(title) for title in titles]

In [36]:
#removing </a> from end of each html tag
rest_name = [t.replace('</a>','') for t in titles]

In [29]:
rest_names = [t.split('>')[1] for t in rest_name]

In [35]:
restaurants = [r for r in rest_names if r != 'more' or '']
restaurants = restaurants[:-8]

['The Mayfair Chippy',
 'Dishoom',
 'Flat Iron',
 'Restaurant Gordon Ramsay',
 'Ffiona’s Restaurant',
 'Mother Mash',
 'The Queens Arms',
 'Padella',
 'The Grazing Goat',
 'The Golden Chippy',
 'BAO - Soho',
 'Duck &amp; Waffle',
 'Ye Olde Cheshire Cheese',
 'Dishoom',
 'The Pig and Butcher',
 'Sketch',
 'NOPI',
 'The Churchill Arms',
 'Abeno',
 'The Victoria',
 'The Shed',
 'Shoryu Ramen',
 'Busaba Soho',
 'The Colonel Fawcett',
 'Gordon Ramsay Street Pizza',
 'Burger &amp; Lobster',
 'Hawksmoor Seven Dials',
 'Savoir Faire',
 'Yauatcha',
 'London House by Gordon Ramsay']

In [73]:
reviews = yelp_scraper.find_all('span', {'class': 'lemon--span__373c0__3997G', 
                                        'class': 'text__373c0__2Kxyz',
                                        'class': 'reviewCount__373c0__2r4xT',
                                        'class': 'text-color--black-extra-light__373c0__2OyzO'})

In [74]:
review = [str(review) for review in reviews]
review[3]

'<span class="lemon--span__373c0__3997G text__373c0__2Kxyz reviewCount__373c0__2r4xT text-color--black-extra-light__373c0__2OyzO text-align--left__373c0__2XGa-">1842</span>'

In [75]:
review = [r.replace('</span>','') for r in review]
review[0]

'<span class="lemon--span__373c0__3997G text__373c0__2Kxyz reviewCount__373c0__2r4xT text-color--black-extra-light__373c0__2OyzO text-align--left__373c0__2XGa-">277'

In [79]:
review = [r.split('>')[-1] for r in review]

'££'

In [84]:
review = [int(r) for r in review if r.isdigit() == True]
review[4]

270

In [85]:
review

[277,
 1842,
 378,
 204,
 270,
 468,
 119,
 202,
 239,
 108,
 183,
 701,
 353,
 544,
 109,
 830,
 271,
 358,
 101,
 212,
 78,
 375,
 381,
 26,
 30,
 292,
 342,
 194,
 482,
 22]

In [88]:
import pandas as pd
restaurant_dictionary = {
    
    'Name' : restaurants,
    'Reviews' : review
    
}

restaurant_df = pd.DataFrame(restaurant_dictionary)
restaurant_df

                             Name  Reviews
0              The Mayfair Chippy      277
1                         Dishoom     1842
2                       Flat Iron      378
3        Restaurant Gordon Ramsay      204
4             Ffiona’s Restaurant      270
5                     Mother Mash      468
6                 The Queens Arms      119
7                         Padella      202
8                The Grazing Goat      239
9               The Golden Chippy      108
10                     BAO - Soho      183
11              Duck &amp; Waffle      701
12        Ye Olde Cheshire Cheese      353
13                        Dishoom      544
14            The Pig and Butcher      109
15                         Sketch      830
16                           NOPI      271
17             The Churchill Arms      358
18                          Abeno      101
19                   The Victoria      212
20                       The Shed       78
21                   Shoryu Ramen      375
22                    Busaba Soho      381
23            The Colonel Fawcett       26
24     Gordon Ramsay Street Pizza       30
25           Burger &amp; Lobster      292
26          Hawksmoor Seven Dials      342
27                   Savoir Faire      194
28                       Yauatcha      482
29  London House by Gordon Ramsay       22

#### Step 2:  Find the price range for each restaurant

Let's create data for the price range of each restaurant as well, as denoted by the $ \unicode{x00A3} $ symbol listed on each website.

**Hint 1:** The information that you need for this was selected using the same criteria to find the number of reviews.

**Hint 2:** You type the $ \unicode{x00A3} $ symbol in python with the expression `\xA3`

In [ ]:
# your code here

#### Step 3:  Build a Dataframe For the Title, # of Ratings and Price Range of Each Restaurant

You will need to create a dictionary structured in the following way:

` {
    'Title': [list with the titles of each restaurant],
    'NumRatings': [list with the number of ratings of each restaurant],
    'Price Range': [list with the price range of each restaurant]
}`

In [ ]:
# your code here